.just-dropped-wrapper {
    padding: 80px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.just-dropped-wrapper .container .title {
    font-size: 12px;
    letter-spacing: .2em;
    font-family: 'Varela', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
    margin-bottom: 70px;
    margin-top: -0.325em;

}

.view-product-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-product-wrapper .model-img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.view-product-wrapper .model-img img {
    width: 340px;
}

.just-dropped-wrapper .product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.just-dropped-wrapper .product .card img.card-img-top {
    width: 250px;

}

.just-dropped-wrapper .product .card-body .card-title {
    letter-spacing: .2em;
    margin-bottom: 6px;
    font-size: 12px;
    font-family: 'Varela', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

.just-dropped-wrapper .product .card-body .card-text {
    letter-spacing: .2em;
    font-size: 12px;
    font-family: 'Varela', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3b3b3b;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*****************media quiery*************************/
@media (max-width: 300.98px) {

    .model-img {
        display: block !important;
        margin: 0 30px !important;
    }

    .model-img img{
        width: 275px !important;
    }

}
@media (max-width: 432.98px) {

    .model-img {
        display: block !important;
        margin: 0 30px !important;
    }

    .model-img img{
        width: 275px !important;
    }

}
@media (max-width: 750.98px) {

    .model-img {
        display: block !important;
        margin: 0 130px !important;
    }

    .model-img img{
        width: 280px !important;
    }
}