.product-description-wrapper .row {
    display: flex;
    align-items: center;
}

.product-description-wrapper .row .left-col {
    height: 100ch;
}

.product-description-wrapper .row .left-col a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 50px;
}

.product-description-wrapper .row .left-col a img {
    width: 90px;
    margin: 14px 19px;
}

.product-description-wrapper .row .mid-col a img {
    width: 100%;
}