.our-vision-wrapper{
    height: 20vh;
}
.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.arousel-inner img{
    position: relative;
}
.carousel-inner{
    position: relative;
}
.carousel-caption{
    width: 30%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}
.carousel-caption h5{
    color: #fff;
    font-size: 20px;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-family: Varela, sans-serif;
    font-weight: 500;
}
.carousel-caption p{
    font-size: 13px;
    font-style: normal;
    font-family: Varela, sans-serif;
    font-weight: 400;
    line-height: 1.65;
    
}