.our-vision-wrapper .carousel-inner img {
    height: 700px;
    position: relative;
}
.carousel-inner .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.our-vision-wrapper .carousel-caption {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-vision-wrapper .carousel-caption h5 {
    color: #fff;
    font-size: 30px;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-family: Varela, sans-serif;
    font-weight: 500;
}

.our-vision-wrapper .carousel-caption p {
    font-size: 16px;
    font-style: normal;
    font-family: Varela, sans-serif;
    font-weight: 400;
    line-height: 1.65;

}


/*****************media quiery*************************/
@media (max-width: 400.98px) {
    .our-vision-wrapper .carousel-caption{
        width: 75% !important;
        margin: 0 !important;
        height: 20% !important;
        position: absolute;
        top: 30% !important  ;
        left: 25% !important;
        transform: translate(-20%, -30%) !important;
    }
    .our-vision-wrapper .carousel-caption p {
        font-size: 14px !important;
        font-style: normal;
        font-family: Varela, sans-serif;
        font-weight: 400;
        line-height: 1.38em !important;
        text-align: justify;
    
    }
    .our-vision-wrapper{
        padding: 10px;
    }

}