.nav-bar-wrapper {
    background-color: #fff;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: end;

}

.right-nav-ul {
    display: flex;
    align-items: center;
}

.mid-nav {
    display: flex;
    justify-content: center;
    justify-content: center;
}

.left-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.offcanvas {
    width: 340px !important;
}

.offcanvas-body {
    margin: 20% 12px;
}

.offcanvas-body a {
    text-decoration: none;
    color: #303030;
    ;
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.offcanvas-body .shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offcanvas-body .about {
    margin-bottom: 20%;
}

.offcanvas-body .about a {
    color: rgba(48, 48, 48, 0.5);
    text-transform: none;
}

.offcanvas-body .about a:hover {
    color: #000;
    transition: 0.5s;
}

.offcanvas-footer {
    width: 100% !important;
    padding: 14px 0;
}

.offcanvas-footer .social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

.offcanvas-footer .social-media i {
    color: rgba(48, 48, 48, 0.5);
}

.cart {
    position: relative;
}

.cart::before {
    content: '0';
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f00;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************generic classes****************************/

.text-decor {
    text-decoration: none;
}

.list-style-none {
    list-style-type: none;
}

/***********media quiery********************/

/* Small devices (landscape phones, 576px and up) */

@media only screen and (max-width: 400.98px) {
    .right-nav {
        margin: 0 !important;
    }

    .right-nav ul {
        padding: 0 !important;
    }

    .right-nav ul li.person {
        margin: 4px !important;
    }

    .right-nav ul li.search {
        margin: 4px !important;
    }

    .right-nav ul li.cart {
        display: none !important;
    }

    .left-nav ul {
        padding: 0 !important;
    }

    .mid-nav {
        display: flex !important;
        align-items: center;
        justify-content: end;
        margin-left: 10%;
        width: 100%;
    }

    .mid-nav ul li img {
        width: 100%;
    }

    .offcanvas {
        width: 100%;
        max-width: 80%;
    }
}


@media only screen and (max-width: 544.98px) {
    .right-nav {
        padding: 0 !important;
    }

    .mid-nav {
        display: flex !important;
        align-items: center;
        justify-content: end;
        margin-left: 10%;
    }

    .mid-nav ul li img {
        width: 100%;
    }

    .offcanvas {
        width: 100%;
        max-width: 80%;
    }
}

@media only screen and (max-width: 600.98px) {
    .mid-nav {
        display: flex !important;
        align-items: center;
        justify-content: flex-end;
        margin-left: 10%;
    }

    .offcanvas {
        width: 100%;
        max-width: 80%;
    }
}

@media only screen and (max-width: 767.98px) {
    .left-nav {
        display: flex !important;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
    }

    .right-nav {
        margin-right: 0;
    }

    .mid-nav {
        margin: auto;
    }

    .offcanvas {
        width: 100%;
        max-width: 80%;
    }
}

@media only screen and (max-width: 991.98px) {
    .mid-nav {
        width: 40%;
        display: flex;
        justify-content: flex-start;
        padding-right: 50px;

    }

    .right-nav {
        display: block;

    }

    .right-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 12px;
    }

    .left-nav {
        display: block;

    }

    .left-nav ul {
        display: flex;
        justify-content: flex-start;

    }

    .offcanvas {
        max-width: 100%;
    }
}