.nav-bar-wrapper {
    background-color: #fff;
}

.nav-bar-wrapper .navbar {
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-bar-wrapper .navbar a {
    padding: 0;

}

.offcanvas-body {
    margin: 20% 12px;
}

.offcanvas-body a {
    text-decoration: none;
    color: #303030;
    ;
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

}

.shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.offcanvas {
    width: 340px !important;
}

.about {
    margin-bottom: 20%;
}
.about a {
    color: rgba(48, 48, 48, 0.5);
    text-transform: none;
}

.about a:hover {
    color: #000;
    transition: 0.5s;
}
.offcanvas-footer{
    width: 100% !important;
    padding: 14px 0;
}
.social-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
.social-media i{
    color: rgba(48, 48, 48, 0.5);
}