.carousel-inner .carousel-item .overlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
}


.carousel-wrapper .carousel-inner img {
  position: relative;
  height: 90vh;
  transition: 1s;
  animation-name: ease-in;
}

.carousel-wrapper .carousel-inner .btn {
  border: none;
  border-radius: 0;
  transition: 1s;
  font-family: Varela, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: .2em;
  text-align: center;
  padding: 14px 28px;

}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loaded {
  opacity: 1;
}

/*********************************/
@media (max-width: 400px) {
  .carousel-wrapper .carousel-caption  {
    padding: 24px !important;
    margin: 16px 16px !important;
    width: 75% !important;
  }

  .carousel-wrapper .carousel-caption .btn {
    padding: 2px 2px !important;
    font-size: 12px !important;
    margin: 12px 0 !important;
  }

}

@media (max-width: 576px) and (min-width:373px) { 
.wide img{
  display: block !important;
}

}
@media (max-width: 400.98px){
.carousel-wrapper .carousel-caption {
    width: 70% !important;
    margin: 0 !important;
}
}