.overlay{
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}


.carousel-wrapper .carousel-inner img {
  position: relative;
  height: 90vh;
  transition: 1s;
  animation-name: ease-in;
}

.carousel-wrapper .carousel-inner .btn {
  border: none;
  border-radius: none;
  transition: 1s;
  outline: none;
  background-color: #000;
  font-family: Varela, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: .2em;
  text-align: center;
  display: inline-block;
  padding: 14px 28px;

}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loaded {
  opacity: 1;
}

/*********************************/
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .carousel-caption .btn {
    padding: 4px 8px;
    font-size: 12px;
    margin: 10px 0;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .carousel-inner .wide img {
    display: none !important;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .carousel-inner .wide img {
    display: block !important;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
  .carousel-inner .wide img {
    display: block !important;
  }
}