.contact-us-wrapper h5{
    font-size: 14px;
}
.heading {
    font-size: 20px !important;
}
.contact-us-wrapper h5.question{
    font-size:14px;
    font-family: Varela, sans-serif;
}
.contact-us-wrapper p.answer{
    font-size:14px;
    font-family: Varela, sans-serif;
    line-height:1.8em;
color: #383838;
}
a{
    color: green;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.note{
    font-size:14px;
    font-family: Varela, sans-serif;
    line-height:1.8em;
    font-style: italic
}
